[Unit]
Description=Build bat syntax cache
ConditionPathExists=!/var/lib/bat/.cache-built

[Service]
Type=oneshot
ExecStart=/usr/bin/bat cache --build
ExecStartPost=/usr/bin/mkdir -p /var/lib/bat
ExecStartPost=/usr/bin/touch /var/lib/bat/.cache-built

[Install]
WantedBy=multi-user.target
