IMAGE_NAME=dltos

REPO_ORGANIZATION="DataLabTechTV"

IMAGE_DESC="Custom Bazzite image based on Niri and Noctalia, built for the Data Lab Techs out there."
IMAGE_KEYWORDS="bootc,ublue,universal-blue,bazzite,fedora,nvidia,niri,noctalia"

IMAGE_LOGO_URL="https://raw.githubusercontent.com/DataLabTechTV/dltos/refs/heads/main/repo_files/dltos-logo.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
