[Unit]
Description=Build bat syntax cache
ConditionPathExists=!%h/.local/state/bat/cache-built

[Service]
Type=oneshot
EnvironmentFile=/etc/environment.d/bat.conf
ExecStart=/usr/bin/bat cache --build
ExecStartPost=/usr/bin/mkdir -p %h/.local/state/bat
ExecStartPost=/usr/bin/touch %h/.local/state/bat/cache-built

[Install]
WantedBy=multi-user.target
